body{
    background-image: url(images/background.png);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    width: 300px;
}
h1{
    color: rgb(63, 176, 186);
}

.container{
    align-items: center;
    text-align: center;
    background-color: rgba(138, 168, 204, 0.258);
    margin: auto;
    width: 500px;
    padding-bottom: 20px;
}
